.restaurants-page {
    background-color: white;
}

.restaurant-header {
    font-weight: 100;
    .header {
        color: #262626;
        font-size: 2em;
    }

    .description {
        color: #535353;
        font-size: 1em;
        margin-bottom: 2em;
        width: 50%;
    }
}
