.restaurant-details-page {
    display: flex;
    flex-direction: column;
}

.go-back-button {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    width: 100%;
}

.full-width-hr {
    width: 150vw;
    margin: 40px -50px;
}