.restaurant-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: burlywood;
}

.restaurant-filter-options {
    display: flex;
    justify-content: space-evenly;
}