.button {
    color: #021F44;
    border-color: #021F44;
    font-size: 12px;
    font-weight: 500; 
    min-height: 40px;
    min-width: 165px;
    cursor: pointer;

    &.large {
        min-width: 340px;
        min-height: 40px;
        font-size: 11px;
    }

    &.x-large {
        min-width: 450px;
        min-height: 47px;
        font-size: 15px;
    }

    &:hover {
        color: white;
        background-color: #021F44;
    }

    &:active {
        color: white;
        background-color:slategray;
    }

    &:focus {
        outline:0;
    }

    &:disabled {
        border: 1px solid #E0E0E0;
        background-color: white;
        color: #E0E0E0;
        cursor: initial;
    }

    &.inverted-colors {
        color: white;
        background-color: #021F44;

        &:hover {
            color: #021F44;
            background-color: white;
        }

        &:active {
            color: white;
            background-color:slategray;
        }
    }
}