.restaurant-filter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.restaurant-filter-hr {
    margin: 0 -50px 0 -50px;
    border-top: 0;
    border-color: #E0E0E0;
    color: #E0E0E0;
}

.restaurant-filter-by {
    color: #4D4D4D;
}

.restaurant-filter-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.restaurant-filter-item {
    padding-right: 27px;
    display: flex;
    align-items: center;
    font-size: 13px;
}